.sidenav {
    
    height: px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: rgb(108, 109, 112);
    background: url("https://wallpaperaccess.com/full/1109087.jpg");
    background-size:cover;
    width: 300px;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    

}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0 0 16px;
    list-style: none;
    height: 60px
}

.nav-text a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #fff;
    color: rgb(108, 109, 112);
}

.nav-menu-items {
    width: 100%;
}

.sidenav-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}